<!DOCTYPE html>
<html lang="pl">
<head>
  <%- include('./partials/head.ejs', { pageTitle: 'Add New Student' }) %>
</head>
<body>
  <%- include('./partials/navigation.ejs') %>
  <h1>Add new student</h1>
  <form action="/add-student" method="post">
    <input type="text" name="fullName" placeholder="Full name">
    <input type="number" name="code" placeholder="Code">
    <input type="text" name="fieldOfStudies" placeholder="Field of studies">
    <button type="submit">Add student</button>
  </form>
</body>
</html>
